DATABASE_URL="postgresql://postgres.<project-ref>:[PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.<project-ref>:[PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"
PORT=3000
NODE_ENV=development
JWT_SECRET="your-secret-key-here"
APP_URL="https://your-app.herokuapp.com"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="your@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="your@gmail.com"
